*{
    box-sizing: border-box;
}
.container {
    height:635px;
    margin:0px;
}
.a{
    position: relative;
    height:80%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.b{
    position: relative;
    height:20%;
    background-color:#373737;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.a1{
    width:28.45%;
    height:100%;
    float:left;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.a2{
    width:71.55%;
    height:100%;
    float:left;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.a11{
    position: relative;
    height:25%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.a12{
    position: relative;
    height:75%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.a21{
    position: relative;
    height:25%;
    background-color: #F4F4F4;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
}
.a22{
    position: relative;
    height:10%;
    background-color: #F4F4F4;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
}
.a23{
    position: relative;
    height:65%;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
    background-color: #F4F4F4;
}
.a231{
    width:24%;
    height:100%;
    float:left;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
    background-color: #F4F4F4;
}
.a232{
    width:76%;
    height:100%;
    float:left;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
}
.a2311{
    position: relative;
    height: 10%;
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
    background-color: #F4F4F4;
}
.a2312{
    position: relative;
    height: 10%;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
    background-color: #F4F4F4;
}
.a2313{
    position: relative;
    height: 10%;
    margin-top: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
    background-color: #F4F4F4;
}
.a2314{
    position: relative;
    height: 10%;
    margin-top: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
    background-color: #F4F4F4;
}
.a2321,.a2322,.a2323,.a2324{
    position: relative;
    height:10%;
    margin-top: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
    background-color: #F4F4F4;
}
.a2325{
    position: relative;
    height:10%;
    margin-top: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
    background-color: #F4F4F4;
}
.a2326{
    position: relative;
    height:10%;
    margin-top: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
    background-color: #F4F4F4;
}
.logo{
    width: 50%;
    margin-top: 30px;
    margin-left: 60px;
}
.sideh1{
    text-align:left;
    font-size:25px;
    font-family: sans-serif;
    color: #747474;
    margin-left: 75px;
    margin-top: 11px;
    margin-bottom: 8px;
}
.mainh1{
    font-size: 24.5px;
    font-weight: bold;
    font-family: sans-serif;
    color: #747474;
    margin: 0px;
    margin-left: 71px;
    margin-top: 11.6px;
}
.createbtn{
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    border-radius: 3px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 314px;
    color: white;
    background-color: #F04C4D;
}
.des{
    font-size: 12.5px;
    margin-left: 69.5px;
    font-family: sans-serif;
}
.form_element{
    font-size: 15px;
    width: 314px;
    padding-right: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    border: none;
    border-radius: 3px;
}
.anchor{
    font-size: 12.5px;
    color: #D25050;
    font-family: sans-serif;
    margin-left: 76px;
}
.anchor1{
    font-size: 12px;
    font-family: sans-serif;
    color: #D25050;
    margin-left: 103px;
}
span{
    font-size: 12px;
    color: red;
    font-weight: bold;
}
#l1{
    margin-left: 361px;
    margin-top: 198px;
    font-family: sans-serif;
    font-size: 45px;
}
#l2{
    font-family: sans-serif;
    font-size: 25px;
    color: #D25050;
    margin-left: 557px;
}
